<div class="news">
  {% if site.news != blank %}
    {% assign news_size = site.news | size %}
    <div
      class="table-responsive"
      {% if include.limit and page.announcements.scrollable and news_size > 3 %}
        style="max-height: 60vw"
      {% endif %}
    >
      <table class="table table-sm table-borderless">
        {% assign news = site.news | reverse %}
        {% if include.limit and page.announcements.limit %}
          {% assign news_limit = page.announcements.limit %}
        {% else %}
          {% assign news_limit = news_size %}
        {% endif %}
        {% for item in news limit: news_limit %}
          <tr>
            <th scope="row" style="width: 20%">
              {% if item.date_string %}
                {{ item.date_string }}
              {% else %}
                {{ item.date | date: '%b %d, %Y' }}
              {% endif %}
            </th>
            <td>
              {% if item.inline %}
                {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
              {% else %}
                <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
              {% endif %}
            </td>
          </tr>
          {% if item.embed %}
            <tr>
              <td colspan="2" style="text-align: center; padding: 0.5rem 0;">
                <div class="embed-responsive embed-responsive-16by9" style="max-width: 560px; margin: 0 auto;">
                  <iframe class="embed-responsive-item" src="{{ item.embed }}" title="Embedded video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
              </td>
            </tr>
          {% endif %}
        {% endfor %}
      </table>
    </div>
  {% else %}
    <p>No news so far...</p>
  {% endif %}
</div>
